.transactionHistory {
  color: rgb(0, 0, 0);
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

th {
  text-transform: uppercase;
  background-color: #164f56;
  color: #ffffff;
  text-align: left;
  padding: 5px 15px;
}

td {
  padding: 5px 15px;
}

.payment {
  background-color: #4dbcbc;
}

.invoice {
  background-color: #a7c888;
}

.deposit {
  background-color: #42e6af;
}

.withdrawal {
  background-color: #deb179;
}
